<ion-content class="ion-padding">
  <div class="logo">
    <img src="assets/logo.png" alt="Logo" />
    <img src="assets/small paws.jpg" alt="small-paws" class="small-paws" />
  </div>

  <h2 class="title">Create account</h2>
  <p class="subtitle">Create your personal account</p>

  <ion-button expand="full" shape="round" class="custom-button volunteer-button">
    Volunteer
  </ion-button>

  <ion-button expand="full" shape="round" class="custom-button shelter-button">
    Shelter
  </ion-button>

  <div class="paw-tracks"></div>
</ion-content>