<ion-content>
  <div class="homepage-conteiner">
    <div class="conteiner">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <!-- Праворуч: Іконки -->
      <ion-buttons slot="end">
        <ion-icon name="trending-up-outline" class="header-icon"></ion-icon>
        <ion-icon name="person-circle-outline" class="header-icon"></ion-icon>
        <ion-icon name="settings-outline" class="header-icon"></ion-icon>
      </ion-buttons>
    </div>

    <p class="tittle">Welcome to our platform, <br>Solomiia</p>

    <div class="white-squere-1">
      <p class="text-white-squere-1">Volunteers on the platform</p>
      <p class="amount">145 625</p>
      <div class="green">
              <div class="green-squere">
                <div class="information-green-squere">
                  <p class="text-green-squere">Shelters on the platform</p>
                  <p class="amount-green">1 625</p>
                </div>

              </div>
              <div class="green-squere">
                <p class="text-green-squere">Rescued animals</p>
                <p class="amount-green">28 625</p>
              </div>
              <div class="green-squere">
                <p class="text-green-squere">Donations</p>
                <p class="amount-green">1 245 625</p>
              </div>
      </div>
    
      <div class="white-squere-2">
        <p class="text-white-squere-2">Mission of the day</p>
        <p class="information-white-squere">Raise $50,000 to buy food for <br>animals for the shelter called <br>Sincere Heart</p>
      </div>

      <div class="buttons">
        <ion-button class="doing-button">
          <img src="assets/paw.png" alt="Logo" class="paw" />
        </ion-button>
        <ion-button class="doing-button">
          <img src="assets/heart.png" alt="Logo" class="heart" />
        </ion-button>
        <ion-button class="doing-button">
          <img src="assets/Dog.png" alt="Logo" class="dog" />
        </ion-button>
      </div>

      <div class="text-button">
        <p class="adopt">Adopt a pet</p>
        <p class="donate">Donate</p>
        <p class="walk">Walk a pet</p>
      </div>

      <div class="scrollable-container-1">
        <div class="animals-green">
          <div class="animal-card">
            <div class="animal-green-squere">
              <p class="name">Matilda</p>
              <p class="shelter-name">Helping Paw shelter</p>
              <p class="address">Knyahynya Olha Street, 65a</p>
            </div>
            <div class="animal-white-squere">
              <p class="animal-information">The cat needs urgent heart <br>surgery and rehabilitation, a <br>fundraising campaign for
                $2000<br> is underway</p>
            </div>
          </div>

          <div class="animal-card">
            <div class="animal-green-squere">
              <p class="name">Graff</p>
              <p class="shelter-name">Helping Paw shelter</p>
              <p class="address">Knyahynya Olha Street, 65a</p>
            </div>
            <div class="animal-white-squere">
              <p class="animal-information">The dog needs urgent heart <br>surgery and rehabilitation, a <br>fundraising campaign for
                $2000 <br>is underway</p>
            </div>
          </div>
          <div class="animal-card">
            <div class="animal-green-squere">
              <p class="name">Graff</p>
              <p class="shelter-name">Helping Paw shelter</p>
              <p class="address">Knyahynya Olha Street, 65a</p>
            </div>
            <div class="animal-white-squere">
              <p class="animal-information">The dog needs urgent heart <br>surgery and rehabilitation, a <br>fundraising campaign for
                $2000 <br>is underway</p>
            </div>
          </div>
        </div>
      </div>

      <div class="scrollable-container-2">
        <div class="fact-green">
          <div class="fact-card"></div>
          <div class="fact-card"></div>
        </div>
      </div>



    </div>
  </div>
  
</ion-content>