ion-content {
  --background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-password-container {
  width: 100%;
  padding: 20px;
}

.logo {
  width: 58px;
  height: auto;
  margin-bottom: 15px;
}

.title {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 35px;
  color: #324b49;
  //margin-bottom: 4px;
  margin-top: 33px;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #324b49;
  margin-top: 4px;
  //margin-bottom: 20px;
}

.input-field {
  --background: white;
  --border-radius: 25px;
  --box-shadow: none;
  width: 100%;
  max-width: 350px;
  --min-height: 60px;
  margin: 20px auto;
  border: 1px solid #aad5d1;
  border-radius: 25px;
  padding: 0px;
  display: flex;
  align-items: center;
  margin-top: 68px;
}

.input-field::part(native) {
  height: 100%;
  min-height: 60px;
}

.input-field ion-input {
  height: 100%;
  padding: 10px;
}

.input-field ion-icon {
  height: 100%;
  color: #aad5d1;
}

.check-icon {
  color: #aad5d1;
}

.custom-button {
  width: 100%;
  max-width: 335px;
  height: 65px;
  font-size: 24px;
  //font-weight: bold;
  color: #000;
  --background: #aad5d1;
  border-radius: 25px;
  margin-top: 328px;
}

.signin-text {
  font-size: 14px;
  margin-top: 49px;
  color: #324b49;
  text-align: center;
}

.signin-link {
  margin-top: 34px;
  font-weight: 900;
  text-decoration: none;
  color: #000;
}