<ion-content class="ion-padding">
  <div class="forgot-password-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h2 class="title">Forgot password?</h2>
    <p class="subtitle">
      Don't worry! It happens. Please enter the email associated with your account.
    </p>

    <ion-item class="input-field">
      <ion-input placeholder="Your email"></ion-input>
      <ion-icon name="checkmark-circle" slot="end" class="check-icon"></ion-icon>
    </ion-item>

    <ion-button (click)="goForgotPassword2()" expand="full" shape="round" class="custom-button">
      Continue
    </ion-button>

    <p class="signin-text">
      Remember password? <span (click)="goSignIn()" class="signin-link">Sign in</span>
    </p>
  </div>
</ion-content>