<<<<<<< HEAD
ion-content{
  --background: #F1F1F1;
}

ion-card-title{
  color: #324B49;
=======
ion-content{
  --background: #F1F1F1;
}

ion-card-title{
  color: #324B49;
>>>>>>> 85197e8 (Login1.page)
}