<ion-content [fullscreen]="true">
  <ion-card-header>
    <ion-card-title color="#324B49">Sign in as volunteer</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button color="dark">With Google</ion-button>
    <ion-button color="dark">f</ion-button>
    <ion-button color="dark">t</ion-button>
    <ion-card-title color="#324B49">Or with email</ion-card-title>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
  </ion-card-content>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
  </ion-card-content>

  <ion-button color="dark">Get started</ion-button>

  <ion-card-title color="#324B49">New user?</ion-card-title>
  <ion-button color="dark" fill="clear">Sign up</ion-button>
</ion-content>
