<ion-content class="ion-padding">
  <div class="logo">
    <img src="assets/logoPaw.jpeg" alt="Logo" />
  </div>

  <h2 class="title">Confirm it's you</h2>
  <p class="subtitle">Please verify your email to continue</p>

  <ion-button expand="full" shape="round" class="custom-button">
    Continue
  </ion-button>
  <ion-item class="input-field">
    <ion-input placeholder="Your email"></ion-input>
    <ion-icon name="checkmark-circle" slot="end" class="check-icon"></ion-icon>
  </ion-item>
</ion-content>