<ion-content class="ion-padding">
  <div class="forgot-password-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h2 class="title">Forgot password?</h2>
    <p class="subtitle">
      Please enter the code we sent to <span class="bold">ana......t&#64;gmail.com</span>
    </p>

    <div class="input-row">
      <ion-item class="input-field">
        <ion-input placeholder=""></ion-input>
      </ion-item>
    
      <ion-item class="input-field">
        <ion-input placeholder=""></ion-input>
      </ion-item>
    
      <ion-item class="input-field">
        <ion-input placeholder=""></ion-input>
      </ion-item>
    
      <ion-item class="input-field">
        <ion-input placeholder=""></ion-input>
      </ion-item>
    </div>


    <ion-button expand="full" shape="round" class="custom-button">
      Continue
    </ion-button>

    <p class="signin-text">
      Didn’t get? <a href="#" class="signin-link">Send me a new email</a>
    </p>
  </div>
</ion-content>