ion-content {
  --background: #f1f1f1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 40px !important;
  color: #324b49 !important;
  text-align: center;
  line-height: 123px;
  margin-top: 10px;
}

.subtitle {
  font-family: "Mulish", sans-serif !important;
  font-weight: 400 !important;
  font-size: 20px;
  color: #324b49;
  text-align: center;
  margin-top: -40px;
}

.logo {
  width: 85px;
  height: auto;
}

.custom-button {
  width: 335px;
  height: 65px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  --background: #aad5d1;
  border-radius: 25px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shelter-button {
  margin-top: 47px;
}

.volunteer-button {
  margin-top: 117px;
}

.small-paws {
  position: absolute;
  bottom: 20px;
  right: -35px;
  width: 500px;
  height: auto;
  object-fit: contain;
  max-width: none;
}