.splash-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #AEE0DA;
  /* Колір фону */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 2.5s ease-in-out forwards, fadeOut 1.5s ease-in-out 3s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}