<ion-content class="ion-padding">
  <div class="forgot-password-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h2 class="title">Reset password</h2>
    <p class="subtitle">
      Please type something you’ll remember
    </p>

    <h3>New password</h3>
    <ion-item class="input-field">
      <ion-input placeholder="Your password must be at least 8 characters"></ion-input>
      <ion-icon name="checkmark-circle" slot="end" class="check-icon"></ion-icon>
    </ion-item>

    <h3 class = "other-margin">Confirm new password</h3>
    <ion-item class="input-field">
      <ion-input placeholder="Repeat your password"></ion-input>
      <ion-icon name="checkmark-circle" slot="end" class="check-icon"></ion-icon>
    </ion-item>

    <ion-button (click)="goForgotPassword4()" expand="full" shape="round" class="custom-button">
      Continue
    </ion-button>

    <p class="signin-text">
      Remember password? <span (click)="goSignIn()" class="signin-link">Sign in</span>
    </p>
  </div>
</ion-content>