ion-content {
  --background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #324B49;
  margin-top: 44px;
}

.other-margin{
  margin-top: 21px;
}

.forgot-password-container {
  width: 100%;
  padding: 14px;
}

.logo {
  width: 58px;
  height: auto;
  //margin-bottom: 15px;
}

.title {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #324B49;
  margin-top: 33px;
}

.subtitle {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #324b49;
  margin-top: 4px;
}

.input-field {
  --background: white;
  --border-radius: 25px;
  --box-shadow: none;
  width: 100%;
  max-width: 350px;
  --min-height: 60px;
  border: 1px solid #aad5d1;
  border-radius: 25px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.input-field::part(native) {
  height: 100%;
  min-height: 60px;
}

.input-field ion-input {
  height: 100%;
  padding: 10px;
  font-size: 14px;
}

.input-field ion-icon {
  height: 100%;
  color: #aad5d1;
}

.check-icon {
  color: #aad5d1;
}

.custom-button {
  width: 100%;
  max-width: 335px;
  height: 65px;
  font-size: 24px;
  color: #000;
  --background: #aad5d1;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.signin-text {
  font-size: 14px;
  margin-top: 49px;
  color: #324b49;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.signin-link {
  margin-top: 34px;
  font-weight: 900;
  text-decoration: none;
  color: #000;
}